body {
    padding-top: 60px;
    background-color: #ddd;
}

/* Estilos para modo oscuro */
body.dark-mode {
    background-color: #0D1117;
    color: #fff;
}

body.dark-mode .navbar {
    background-color: #06296b !important;
}

body.dark-mode .text-box {
    background-color: #161B22;
    color: #fff;
}

#iconos .btn {
    font-size: 25px;
    border-radius: 50%;
    margin-left: 20px;
}

.filtro-item {
    display: inline;
    margin-left: 20px;
}

#main {
    display: flex;
    justify-content: space-between;
}

.centrar {
    text-align: center;
}

.margen {
    margin: 0 10px;
}

.list-group-item {
    background-color: #ddd;
    margin: 5px;
    max-width: 30vw;
}

body.dark-mode .list-group-item {
    background-color: #161B22;
    color: #fff;
    border: solid 1px #fff;
}

.no-completed {
    width: 10px;
    height: 10px;
    float: right;
    color: rgb(226, 6, 6);
}

.completed {
    width: 10px;
    height: 10px;
    float: right;
    color: rgb(13, 226, 6) !important;
}

.inline {
    display: inline;
}

#home:hover {
    color: #52adf2;
}

@media (max-width: 800px) {
    #menu {
        margin-right: 20px;
        min-width: 0;
    }

    .btn {
        padding: 5px;
        font-size: small;
    }

    .navbar-brand {
        display: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    button,
    b,
    label,
    select,
    input,
    span {
        font-size: small !important;
    }

    .login-form {
        width: 150px;
    }
}

/* Estilo opcional para ajustar el espacio entre el botón y el formulario */
.dropdown-content {
    margin-top: 10px;
}

/* Ajusta el ancho del formulario de inicio de sesión */
.login-form {
    width: 300px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

@keyframes shake {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: translateX(-5px) rotate(-5deg);
    }

    50% {
        transform: translateX(5px) rotate(5deg);
    }

    70% {
        transform: translateX(-3px) rotate(-3deg);
    }

    90% {
        transform: translateX(3px) rotate(3deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}

.sacudir {
    animation: shake 1s ease-in-out forwards;
}