body.dark-mode {
    background-color: #0D1117;
    color: #fff;
}

body.dark-mode .navbar {
    background-color: #06296b !important;
}

body.dark-mode .text-box {
    background-color: #161B22;
    color: #fff;
}

body {
    background-color: #ddd;
}