<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  {% load static %}
  <link href="{% static 'app/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'app/css/register.css' %}">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Registro</h5>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'app/js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'app/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>