<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    {% load static %}
    <link href="{% static 'app/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/style8.css' %}">
    <link rel="stylesheet" href="{% static 'app/font-awesome/css/all.css' %}">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href={% url "list" %} > <b id="home">To_Do_List</b> </a>

          <a class="btn btn-primary" href={% url "tags-list" %} >Etiquetas</a>
      
          <!-- Selector de etiquetas -->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle mr-2" type="button" id="dropdownOptionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtrar por
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownOptionsButton">
              <a class="dropdown-item" href={% url 'list' %} > Todas </a>
              {% for i in tags %}
              <a class="dropdown-item" href={% url 'filter' i.id %} >{{i.nombre}}</a>
              {% endfor %}
            </div>
          </div>
      
          <!-- Botón para alternar entre modo claro y modo oscuro -->
          <div class="dropdown mr-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownThemeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Modo
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownThemeButton">
              <button class="dropdown-item" onclick="setTheme('claro')">Modo claro</button>
              <button class="dropdown-item" onclick="setTheme('oscuro')">Modo oscuro</button>
            </div>
          </div>
      
          <!-- Formulario de inicio de sesión -->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Iniciar sesión
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <form class="px-4 py-3 login-form" method='POST' action={% url 'login' %}>
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">Usuario:</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su nombre de usuario">
                </div>
                <div class="form-group">
                  <label for="password">Contraseña:</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
              </form>
            </div>
          </div>
          {% if user.is_authenticated %}
          <span class="navbar-text mr-3">Hola, {{ user.username }} <i id="saludo" class="fas fa-hand-paper"></i></span>
          <a href={% url 'exit' %} class="btn btn-outline-light">Cerrar sesión</a>
          {% endif %}
        </div>
    </nav>

    {% if errors %}
    <div class="alert alert-danger" role="alert">
      {{errors}}
    </div>
    {% endif %}

    <main class="container mt-4" id="main">
        <div class="col-md-3" id="menu">
            <form id="taskForm">
                <h3 id="titulo_menu" class="text-xl-center">Crear Tarea</h3>
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Título:</label>
                    <input placeholder="ej. Ir de compras" type="text" class="form-control text-box" id="titleInput" required name="titulo">
                </div>
                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Descripción:</label>
                    <textarea placeholder="ej. Comprar la comida del mes" class="form-control text-box" id="descriptionInput" required name="descripcion"></textarea>
                </div>
                <div class="mb-3">
                    <label type="date" for="dueDateInput" class="form-label">Vence:</label>
                    <input type="date" class="form-control text-box" id="dueDateInput" required name="vence">
                </div>
                <div class="mb-3">
                    <label for="priorityInput" class="form-label">Prioridad:</label>
                    <select class="form-select text-box" id="priorityInput" required name="prioridad">
                        <option value="alta">Alta</option>
                        <option value="media">Media</option>
                        <option value="baja">Baja</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="isPublicInput" class="form-label">Privacidad:</label>
                    <select class="form-select text-box" id="isPublicInput" required name="is_public">
                        <option value=True>Pública</option>
                        <option value=False>Privada</option>
                    </select>
                </div>
            </form>
            <button onclick="enviar()" class="btn btn-primary w-100" id="btn_cambiante">Crear</button>
        </div>
        <div id="tareas">
            <div id="filtros">
                <div id="show" class="filtro-item">
                    <label for="filterSelect">
                        <i class="fas fa-filter"></i>
                    </label>
                    <select id="filterSelect">
                        <option value="todos">Todos</option>
                        <option value="completadas">Completadas</option>
                        <option value="pendientes">Pendientes</option>
                    </select>
                </div>
                <div id="sort" class="filtro-item">
                    <i class="fas fa-sort-amount-up"></i>
                    <button data-toggle="tooltip" title="ordena por fecha de vencimiento" type="button" class="btn btn-primary" id="sortByDueDateBtn">Vence</button>
                    <button data-toggle="tooltip" title="ordena por prioridad" type="button" class="btn btn-primary" id="sortByPriorityBtn">Prioridad</button>
                </div>
            </div>
            <h3 class="centrar">Tareas Privadas</h3>
            <div id="taskList" class="list-group">
                <!-- Aquí se insertarán las tareas privadas -->
                {% for i in private %}
                <div class="list-group-item" data-titulo="{{i.titulo}}" data-descripcion="{{i.descripcion}}" data-due-date="{{ i.vence }}" data-priority="{{ i.prioridad }}" data-completed="{{i.estado}}"
                    data-id="{{ i.id }}">
                    <h5 class="mb-1 title-list inline">{{ i.titulo }}</h5>
                    {% if i.estado %}
                    <i class="fas fa-check-circle completed"></i>
                    {% else %}
                    <i class="far fa-circle no-completed"></i>
                    {% endif %}
                    <p class="mb-1">{{ i.descripcion }}</p>
                    <small class="text-muted">Prioridad: <b>{{ i.prioridad }}</b> </small>
                    <br>
                    <small class="text-muted">Vence: <b>{{ i.vence }}</b> </small>

                    <button onclick="completar({{i.id}})" class="btn btn-sm btn-success float-end complete-btn"><i
                            class="fas fa-check-circle"></i></button>
                    <button type="button" onclick="actualizar({{i.id}})" class="margen btn btn-sm btn-warning float-end edit-btn"><i
                        class="fas fa-edit"></i></button>
                    <button onclick="eliminar({{i.id}})" class="btn btn-sm btn-danger float-end delete-btn"><i
                        class="fas fa-trash-alt"></i></button>
                    <a href={% url 'tags_task' i.id %} class="btn btn-sm btn-info float-end ml-2"><i
                       class="fas fa-tag"></i></a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="tareas-public">
            <div id="filtros-public">
                <div id="show-public" class="filtro-item">
                    <label for="filterSelect-public">
                        <i class="fas fa-filter"></i>
                    </label>
                    <select id="filterSelect-public">
                        <option value="todos">Todos</option>
                        <option value="completadas">Completadas</option>
                        <option value="pendientes">Pendientes</option>
                    </select>
                </div>
                <div id="sort-public" class="filtro-item">
                    <i class="fas fa-sort-amount-up"></i>
                    <button data-toggle="tooltip" title="ordena por fecha de vencimiento" type="button" class="btn btn-primary" id="sortByDueDateBtn-public">Vence</button>
                    <button data-toggle="tooltip" title="ordena por prioridad" type="button" class="btn btn-primary" id="sortByPriorityBtn-public">Prioridad</button>
                </div>
            </div>
            <h3 class="centrar">Tareas Públicas</h3>
            <div id="taskList-public" class="list-group">
                <!-- Aquí se insertarán las tareas públicas -->
                {% for i in public %}
                <div class="list-group-item" data-titulo="{{i.titulo}}" data-descripcion="{{i.descripcion}}" data-due-date="{{ i.vence }}" data-priority="{{ i.prioridad }}" data-completed="{{i.estado}}"
                    data-id="{{ i.id }}">
                    <h5 class="mb-1 title-list inline">{{ i.titulo }}</h5>
                    {% if i.estado %}
                        <i class="fas fa-check-circle completed"></i>
                    {% else %}
                        <i class="far fa-circle no-completed"></i>
                    {% endif %}
                    <p class="mb-1">{{ i.descripcion }}</p>
                    <small class="text-muted">Prioridad: <b>{{ i.prioridad }}</b> </small>
                    <br>
                    <small class="text-muted">Vence: <b>{{ i.vence }}</b> </small>
                    <button onclick="completar({{i.id}})" class="btn btn-sm btn-success float-end complete-btn"><i
                            class="fas fa-check-circle"></i></button>
                    <button onclick="actualizar({{i.id}})" class="margen btn btn-sm btn-warning float-end edit-btn"><i
                            class="fas fa-edit"></i></button>
                    <button onclick="eliminar({{i.id}})" class="btn btn-sm btn-danger float-end delete-btn"><i
                            class="fas fa-trash-alt"></i></button>
                    <a href={% url 'tags_task' i.id %} class="btn btn-sm btn-info float-end ml-2"><i
                            class="fas fa-tag"></i></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <script src="{% static 'app/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'app/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app/js/declaraciones.js' %}"></script>
    <script src="{% static 'app/js/token.js' %}"></script>
    <script src="{% static 'app/js/ajax.js' %}"></script>
    <script src="{% static 'app/js/crud3.js' %}"></script>
    <script src="{% static 'app/js/update.js' %}"></script>
    <script src="{% static 'app/js/filtros.js' %}"></script>
    <script src="{% static 'app/js/orden.js' %}"></script>
    <script src="{% static 'app/js/sacudir.js' %}"></script>
    <script>
        function setTheme(theme) {
          if (theme === 'claro') {
            document.body.classList.remove('dark-mode');
          } else if (theme === 'oscuro') {
            document.body.classList.add('dark-mode');
          }
        }
      
        function setOption(option) {
          console.log("Opción seleccionada: " + option);
        }
      $(document).ready(function(){
          // Inicializar el plugin de tooltip de Bootstrap
          $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
</body>
</html>